:root {
    --text: rgb(35, 37, 39);
    --bg: #fff;
    --block: #f9f9f9;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --text: rgb(226 231 236);
        --bg: #000;
        --block: #191919;
    }
}

body {
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
}

a, a:visited {
    color: #0060AC;
}

a:hover, a:focus {
    color: #888;
}

a:active {
    color: #606060;
}

.divider {
    width: 100%;
    border-top: 1px solid var(--block);
}

/* uwp-btn */

.uwp-btn {
    margin: 4px;
    color: #222;
    border-radius: 4px;
    background-color: #d2d2d2;
    overflow: hidden;
    transition: transform 0.02s linear 0s;
    outline: none;
    border: none;
    padding: 0;
}

.uwp-btn:focus {
    outline: 2px solid #000;
}

.uwp-btn.click {
    transition: transform 0.4s linear 0.1s;
}

.uwp-btn.hide-outline:focus {
    outline: none;
}

.uwp-border {
    width: max-content;
    font-size: 14px;
    padding: calc(6px + 1px) calc(8px + 1px);
    user-select: none;
    display: grid;
    place-items: center;
    border-radius: 4px;
}

.uwp-border.hover {
    padding: calc(6px + 0px) calc(8px + 0px);
    border: 1px solid #888;
}

.uwp-border:hover+.uwp-reveal-highlight {
    opacity: 1;
}

.uwp-reveal-highlight {
    opacity: 0;
    pointer-events: none;
    position: relative;
    transform: translate(-128px, -128px);
    width: 256px;
    height: 256px;
    background-image: radial-gradient(#fff2, #fff0, transparent);
    transition: transform 4s linear 0s, background-image 4s linear 0s;
}

.uwp-reveal-highlight.fast {
    transition: transform 0.3s linear 0s, background-image 0.3s linear 0s;
}

@media (prefers-color-scheme: dark) {
    .uwp-btn {
        background-color: #2f2f2f;
        color: #d8d8d8;
    }
    .uwp-btn:focus {
        outline: 2px solid #fff;
    }
}

/* special style settings */

.logo-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.logo-container * {
    display: block;
    text-align: center;
    margin: auto;
}

.intro-container {
    padding: 64px 0;
    text-align: center;
    background-color: var(--block);
}

.notice-container {
    border-top: 1px solid var(--block);
    border-bottom: 1px solid var(--block);
}

.notice-container .inner {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 64px;
}

.features-container {
    max-width: 1000px;
    margin: auto;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
    .features-container {
        grid-template-columns: 1fr;
    }
}

.features-container section {
    margin: 16px;
    background-color: var(--block);
}

.features-container section .content {
    padding: 16px;
}

.features-container section .date {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    color: #888;
}

.features-container section h2 {
    font-size: 24px;
    margin: 4px 0;
    font-weight: bold;
}

.features-container section img, .features-container section video {
    width: 100%;
}

.footer-container {
    background-color: var(--block);
}

.footer-container .inner {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 64px;
}

.footer-container .footer-item {
    margin: 16px;
}